* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

html,
body,
#__nuxt,
.main-layout {
  height: 100%;
  min-height: 100%;
  width: 100%;
  cursor: default;
}

nav {
  ul {
    li {
      cursor: pointer;
    }
  }
}

.weather-image {
  width: rem(120px);
  height: rem(120px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
